{% extends './templates/base.html.twig' %}

{% block title %}Lista de Pessoas
{% endblock %}


{% block content %}
	<div class='container'>
		<div class='d-flex justify-content-end my-4'>
			<a class="btn btn-primary" href="/cadastrar/pessoa">Cadastrar Pessoa</a>
		</div>
		<h2 class='text-center'>Lista de Pessoas</h2>
		<div class="row my-4">
			{% for person in persons %}
				<div class="col-md-4">
					<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title">{{ person.name }}</h5>
							<p class="card-text">
								<strong>ID:</strong>
								{{ person.id }}<br>
								<strong>Telefone:</strong>
								{{ person.phone }}<br>
								<strong>Email:</strong>
								{{ person.email }}
							</p>
							<a href="/editar/{{person.id}}" class="btn btn-warning">Editar</a>
							<a href="" class="btn btn-danger">Excluir</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
